@import url(http://fonts.googleapis.com/css?family=Ubuntu:500);
body{background-color:#fff;font-family:'Ubuntu',sans-serif;font-size:1em}
header{text-align:right;margin-bottom:25px}
.gerbsverbs .sayButton{text-align:center;font-size:300%}
footer{margin-top:25px;border-top:1px solid #999;padding-top:15px;font-size:80%;color:#999;text-align:center}
a{color:#008ee8;text-decoration:none}a:hover{color:#e80000}
img{border:0}
